body {
    background-color: #a08bc4;
    color:azure;
    font-family: 'CreatoDisplay';
}

.header {
    font-family: 'CreatoDisplay';
    font-weight: bold;
    border: solid 1px white;
}

img {
    border-radius: 10px;
}

@font-face {
    font-family: CreatoDisplay;
    src: url(/fonts/CreatoDisplay-Regular.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: CreatoDisplay;
    src: url(/fonts/CreatoDisplay-Black.otf);
    font-weight: bold;
    font-style: normal;
}