body {
    background-color: #a08bc4;
    color:azure;
    font-family: 'CreatoDisplayMedium';
}

.header {
    font-family: 'CreatoDisplayBlack';
    border: solid 1px white;
}

img {
    border-radius: 10px;
}

@font-face {
    font-family: CreatoDisplay;
    src: url(/fonts/CreatoDisplay-Regular.otf);
}

@font-face {
    font-family: CreatoDisplayBlack;
    src: url(/fonts/CreatoDisplay-Black.otf);
}

@font-face {
    font-family: CreatoDisplayMedium;
    src: url(/fonts/CreatoDisplay-Medium.otf);
}