
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #deacf5;
}

.container {
  min-width: 400px;
  width: 60%;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  padding: 20px;
  position: sticky;
  top: 0;
  color: white;
  background-color: #28104e;
}

header > .container {
  text-align: center;
}

header > .container > nav > ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

header > .container > nav > ul :hover {
  background-color: #9754cb;
  color: #28104e;
}

header > .container > nav > ul > li {
  padding: 10px;
  border-radius: 10px;
}

a {
  color: inherit;
}

main {
  padding: 0 20px;
}

.experience, .education, .projects, .skills, .coursework {
  border: 2px solid #28104e;
  border-radius: 10px;
  margin: 20px 0;
  padding: 10px;
  background-color: #9754cb;
}

.experience > h3, .education > h3, .projects > h3, .skills > h3, .coursework > h3 {
  text-align: center;
  color: #28104e;
}

.content {
  padding: 10px;
}

.hiddenDescription {
  display: none;
}

.unhiddenDescription {
  display: block;
}

input {
  height: 18px;
  width: 18px;
  border-radius: 100%;
  border: none;
  color: #deacf5;
  background-color: #28104e;
  text-align: center;
}

input :hover {
  cursor:pointer;
}

ul > li > ul > li {
  margin: 0 20px;
}

footer {
  background-color: #28104e;
  color: white;
}

footer > .container > nav > ul{
  list-style: none;
  padding: 20px;
}

footer > .container > p {
  text-align: center;
  padding: 20px;
}