body {
    background-color: #4946ff;
    color:aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.obs {
    color:aquamarine;
    text-decoration: underline;
}

button {
    color: aliceblue;
    background-color: #4946ff;
    border-color: aliceblue;
    border-radius: 10px;
}

input {
    color: white;
}

.conteudoInterativo {
    border: solid 1px white;
    padding: 10px;
    border-radius: 10px;
    background-color: blue;
}

a {
    text-decoration: none;
    color: aliceblue;
}

nav {
    border: solid 1px white;
    padding: 5px;
    background-color: blue;
    border-radius: 10px;
    margin: 5px;
}

.home {
    border: solid 1px white;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}